/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

/* =====================
   HEADER
===================== */
header {
  background-image: url("../images/darkside-moon.webp");
  background-color: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60svh;
  min-height: 450px;
  background-position: top;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.card h3 {
  margin-left: 25px;
  font-weight: 100;
  font-style: italic;
  font-size: .7rem;
  font-family: var(--priamry-font)
}

#header-title {
  position: fixed;
  text-align: center;
}

#header-title h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

#aerospace-h {
  margin-top: -20px;
  margin-bottom: 50px;
  font-size: .7rem;

}

#aerospace-h>span {
  letter-spacing: 24px;
  text-align: center;
}

/* =====================
   TIMELINE
===================== */
#timeline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  background-color: var(--background-color);
  z-index: 5;
  padding-top: 20px;
  /* overflow: clip; */
}


#blip-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  z-index: 5;
  position: relative;
}

#line {
  position: absolute;
  height: 95%;
  width: 2px;
  background-color: white;
  left: 50%;
  z-index: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#start-blip {
  width: 50px;
  height: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  border: 2px solid white;
  z-index: 4;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2.3s;
  animation-duration: 2.3s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.moving-blip {
  height: 26px;
  width: 26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000000;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  -webkit-animation-name: moveBlip;
  animation-name: moveBlip;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

#moving-blip-two {
  -webkit-animation-delay: 2400ms;
  animation-delay: 2400ms;
}

#moving-blip-three {
  -webkit-animation-delay: 4400ms;
  animation-delay: 4400ms;
}

#moving-blip-four {
  -webkit-animation-delay: 6400ms;
  animation-delay: 6400ms;
}


.timeline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  border: 1px solid white;
  z-index: 0;
  background-color: #000000;
  font-size: 80%;
  text-align: center;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-top: 200px;
  will-change: opacity, transform;

}

.timeline-container>h2 {
  position: absolute;
  line-height: unset;
}

.timeline-container h3 {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background-color: rgba(0, 0, 0, .5);
  padding: 10px 0;

  width: 100%;

}

.timeline-container>p {
  padding: 20px;
}

.timeline-container>.timeline-header-image-container {
  position: relative;
}

.timeline-container img {
  max-width: 100%;

}

.timeline-container>h2 {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.blip {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  border: 2px solid white;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  z-index: 1;
}

.blip p {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

.blip:hover {
  width: 70px;
  height: 70px;
}

.timeline-container:hover .blip {
  border: 3px solid red;
}

.left-blip,
.right-blip {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
}

#blip-one {
  margin-top: 40svh;
}

/* =====================
   HEADER REVEAL
===================== */
#header-reveal {
  height: 200px;
  width: 100%;
}

/* =====================
   FOUNDERS
===================== */
#portraits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  z-index: 5;
  position: relative;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 100px;
  background-color: var(--background-color);
}

#founders-title {
  width: 90%;
  animation-timeline: view();
  animation-range: cover 0% cover 70%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInSide;
  animation-name: fadeInSide;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 30px;
}

#portraits-container>div {
  background-color: var(--background-color);
  border: 1px solid white;
  margin-bottom: 50px;
  width: 80%;
  will-change: opacity, transform;
}

.card img {
  max-width: 100%;
  margin-bottom: 30px;
}

.card h2 {
  color: #dedede;
  margin-left: 25px;
}

.card p {
  font-size: .8rem;
  padding: 25px;
}

#portrait-one,
#portrait-two,
#portrait-three {
  animation-timeline: view();
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
}

#portrait-one {
  animation-range: cover 0% cover 30%;
}

#portrait-two {
  animation-range: cover 10% cover 30%;
}

#portrait-three {
  animation-range: cover 20% cover 30%;
}

/* =====================
   MISSION
===================== */
#mission-blurb-container {
  background-color: var(--background-color);
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mission {
  margin-top: 100px;
  max-width: 90%;
  text-align: center;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#mission>h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 50px;
  text-align: left;
}

#mission>p {
  margin-bottom: 20px;
}

#mission q {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 100;
}

#mission #founder-quote {
  margin: 50px 0;
  padding: 20px;
  border: 1px solid white;
}

#founder-quote-citation {
  font-size: 0.8rem;
  font-style: italic;
}

/* =====================
   ABOUT LINKS
===================== */
#about-links {
  background-color: var(--background-color);
  position: relative;
  z-index: 5;
  padding: 100px 0;
}

#about-link-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: auto;
}

/* =====================
   ANIMATIONS
===================== */
@-webkit-keyframes moveBlip {
  0% {
    top: 0;
  }

  90% {
    top: 100%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes moveBlip {
  0% {
    top: 0;
  }

  90% {
    top: 100%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale(1.1);
    transform: translateX(-50%) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale(1.1);
    transform: translateX(-50%) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInSide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInSide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* =====================
   MEDIA QUERIES
===================== */
@media (min-width: 375px) {
  #header-title>h1 {
    font-size: 5rem;
  }

  #aerospace-h {
    margin-top: -25px;
    margin-bottom: 50px;


  }

  #aerospace-h>span {
    letter-spacing: 32px;
    text-align: center;
  }
}

@media (min-width: 425px) {
  #header-title>h1 {
    font-size: 6rem;
  }

  #aerospace-h>span {
    letter-spacing: 40px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #blip-column {
    max-width: 50%;
  }

  #about-link-container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 50%;
  }

  .timeline-container .history-text {
    font-size: 1rem;
  }

  #portraits-container>div {
    width: 30%;
    min-height: 640px;
  }

  .card p {
    padding: 10px;
  }

  #header-title>h1 {
    font-size: 8rem;
  }

  #aerospace-h {
    margin-top: -30px;
    margin-bottom: 50px;
    font-size: 1.2rem;

  }

  #aerospace-h>span {
    letter-spacing: 50px;
    text-align: center;
  }

  #founders-title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 1024px) {
  #mission {
    width: 50%;
  }

  .timeline-container h3 {
    font-size: 3rem;
  }

  #portraits-container>div {
    min-height: 600px;
  }
}

@media (min-width:1440px) {
  .timeline-container h3 {
    font-size: 3rem;
  }
}

/* =====================
   ACCESSIBILITY MEDIA QUERIES
===================== */
/*Removes animations when users system settings are set to prefers reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
  .timeline-container {
    animation: none;
  }

  #portrait-one,
  #portrait-two,
  #portrait-three {
    animation: none;
  }

  #founders-title {
    animation: none;
  }

  #mission {
    animation: none;
  }
}