header {
  background-image: url("../images/darkside-moon.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  /* small view port unit used to ensure that the hero image is visible and first panel 
  is always visible when loading the page on mobile devices.  */
  height: 60svh;
  background-position: top;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

#header-title {
  position: fixed;
  text-align: center;
}

#header-title h1 {
  font-size: 400%;
  margin-bottom: 10px;
}



#founder-quote {
  line-height: 1.5rem;
  font-style: italic;
}

#founder-quote>span {
  font-size: 0.8rem;
  font-style: normal;
}

#mission {
  padding: 10% 2%;
  max-width: 90%;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timeline: view(block 60% 0%);
}

.text-content p {
  line-height: 1.5rem;
}


.image-content {
  max-width: 90%;
  border-radius: 90px;
}

#timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #000000;
  z-index: 5;

}

#about-content-section>p {
  text-align: center;
  line-height: 1.5rem;
}

.blip p {
  transform: translateY(2px);
}

.blip {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  display: flex;
  top: 50%;
  border: 2px solid white;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: 0.3s;
  text-transform: uppercase;
  z-index: 1;
}

.blip:hover {
  width: 70px;
  height: 70px;
}

.timeline-container:hover .blip {
  border: 3px solid red;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1.0;
  }
}

#blip-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 200px;
  width: 90%;
  z-index: 5
}

.timeline-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 30px 20%;
  position: relative;
  border: 1px solid white;
  z-index: 0;
  background-color: #000000;
  font-size: 80%;
  text-align: center;
  animation-name: fadeIn;
  animation-timeline: view();
  animation-range: 0% cover 50%;
  animation-fill-mode: both;
}

.timeline-container>h2 {
  position: absolute;
  line-height: unset;
}

.timeline-left-container>h2,
.timeline-right-container>h2 {
  top: 0;
  left: 0;
  transform: translateY(-100%);
}


#line {
  margin-top: 50px;
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: white;
  left: 50%;
  right: 50%;
  z-index:0;
}

#start-blip {
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  border: 2px solid white;
  z-index: 4;
}

#start-blip:hover {
  background-color: black;
}

.left-blip,
.right-blip {
  top: 0;
  left: 50%;
  transform: translate(-50%, -90%);
}


#blip-one {
  margin-top: 40svh;
}


.moving-blip {
  height: 26px;
  width: 26px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  animation-name: moveBlip;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
#moving-blip-two{
  animation-delay: 2400ms;
}

#moving-blip-three{
  animation-delay: 4400ms;
}
#moving-blip-four{
  animation-delay: 6400ms;
}

@keyframes moveBlip {
  0% {
    top: 0;
  }

  90% {
    top: 100%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}