/* =====================
   HEADER
===================== */
header {
  background-image: url("../images/darkside-moon.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60svh;
  min-height: 450px;
  background-position: top;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

.card h6 {
  margin-left: 25px;
  font-weight: 100;
  font-style: italic;
}

#header-title {
  position: fixed;
  text-align: center;
}

#header-title h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

#aerospace-h {
  margin-top: -20px;
  margin-bottom: 50px;
  font-size: .7rem;

}

#aerospace-h>span {
  letter-spacing: 24px;
  text-align: center;
}

/* =====================
   TIMELINE
===================== */
#timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #000000;
  z-index: 5;
  padding-top: 20px;
  /* overflow: clip; */
}


#blip-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  z-index: 5;
  position: relative;
}

#line {
  position: absolute;
  height: 95%;
  width: 2px;
  background-color: white;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
}

#start-blip {
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  border: 2px solid white;
  z-index: 4;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2.3s;
  transform-origin: center;
}

#start-blip:focus-visible,
#start-blip:hover {
  background-color: white;
}

.moving-blip {
  height: 26px;
  width: 26px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  animation-name: moveBlip;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

#moving-blip-two {
  animation-delay: 2400ms;
}

#moving-blip-three {
  animation-delay: 4400ms;
}

#moving-blip-four {
  animation-delay: 6400ms;
}


.timeline-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid white;
  z-index: 0;
  background-color: #000000;
  font-size: 80%;
  text-align: center;
  animation-name: slideUp;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  animation-fill-mode: both;
  margin-top: 200px;
  will-change: opacity, transform;

}

.timeline-container>h2 {
  position: absolute;
  line-height: unset;
}

.timeline-container h3 {
  font-size: 1.5rem;
  position:absolute;
  top:50%;
  translate: 0 -50%;
  background-color: rgba(0,0,0,.5);
  padding: 10px 0;

  width:100%;

}
.timeline-container > p{
  padding:20px; 
}
.timeline-container>.timeline-header-image-container{
  position:relative;
}
.timeline-container img {
  max-width:100%;
 
}

.timeline-container>h2 {
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.blip {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  display: flex;
  top: 50%;
  border: 2px solid white;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: 0.3s;
  text-transform: uppercase;
  z-index: 1;
}

.blip p {
  transform: translateY(2px);
}

.blip:hover {
  width: 70px;
  height: 70px;
}

.timeline-container:hover .blip {
  border: 3px solid red;
}

.left-blip,
.right-blip {
  top: 0;
  left: 50%;
  transform: translate(-50%, -90%);
}

#blip-one {
  margin-top: 40svh;
}

/* =====================
   HEADER REVEAL
===================== */
#header-reveal {
  height: 200px;
  width: 100%;
}

/* =====================
   FOUNDERS
===================== */
#portraits-container {
  display: flex;
  padding-top: 30px;
  width: 100%;
  flex-wrap: wrap;
  align-items: start;
  z-index: 5;
  position: relative;
  justify-content: space-around;
  margin-top: 100px;
  background-color: black;
}

#founders-title {
  width: 90%;
  animation-timeline: view();
  animation-range: cover 0% cover 70%;
  animation-fill-mode: both;
  animation-name: fadeInSide;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 30px;
}

#portraits-container>div {
  background-color: #000000;
  border: 1px solid white;
  margin-bottom: 50px;
  width: 80%;
  will-change: opacity, transform;
}

.card img {
  max-width: 100%;
  margin-bottom: 30px;
}

.card h2 {
  color: #dedede;
  margin-left: 25px;
}

.card p {
  font-size: .8rem;
  padding: 25px;
}

#portrait-one,
#portrait-two,
#portrait-three {
  animation-timeline: view();
  animation-fill-mode: both;
  animation-name: slideUp;
}

#portrait-one {
  animation-range: cover 0% cover 30%;
}

#portrait-two {
  animation-range: cover 10% cover 30%;
}

#portrait-three {
  animation-range: cover 20% cover 30%;
}

/* =====================
   MISSION
===================== */
#about-intro {
  background-color: black;
  z-index: 5;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#mission {
  margin-top: 100px;
  max-width: 90%;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
  animation-fill-mode: both;
}

#mission>h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 50px;
  text-align: left;
}

#mission>p {
  margin-bottom: 20px;
}

#mission q {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 100;
}

#mission #founder-quote {
  margin: 50px 0;
  padding: 20px;
  border: 1px solid white;
}

#founder-quote-citation {
  font-size: 0.8rem;
  font-style: italic;
}

/* =====================
   ABOUT LINKS
===================== */
#about-links {
  background-color: #000000;
  position: relative;
  z-index: 5;
  padding: 100px 0;
}

#about-link-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

/* =====================
   ANIMATIONS
===================== */
@keyframes moveBlip {
  0% {
    top: 0;
  }

  90% {
    top: 100%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.1);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInSide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* =====================
   MEDIA QUERIES
===================== */
@media (min-width: 375px) {
  #header-title>h1 {
    font-size: 5rem;
  }

  #aerospace-h {
    margin-top: -25px;
    margin-bottom: 50px;


  }

  #aerospace-h>span {
    letter-spacing: 32px;
    text-align: center;
  }
}

@media (min-width: 425px) {
  #header-title>h1 {
    font-size: 6rem;
  }

  #aerospace-h>span {
    letter-spacing: 40px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #blip-column {
    max-width: 50%;
  }

  #about-link-container {
    justify-content: space-evenly;
    width: 50%;
  }
  .timeline-container .history-text {
    font-size:1rem;
  }
  #portraits-container>div {
    width: 30%;
    min-height: 640px;
  }

  .card p {
    padding: 10px;
  }

  #header-title>h1 {
    font-size: 8rem;
  }

  #aerospace-h {
    margin-top: -30px;
    margin-bottom: 50px;
    font-size: 1.2rem;

  }

  #aerospace-h>span {
    letter-spacing: 50px;
    text-align: center;
  }

  #founders-title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 1024px) {
  #mission {
    width: 50%;
  }
  .timeline-container h3 {
    font-size:3rem;
  }
  #portraits-container>div {
    min-height: 600px;
  }
}
@media (min-width:1440px){
    .timeline-container h3 {
    font-size:3rem;
  }
}