header {
  padding-top: 100px;

}

#header-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 600px;
  padding: 10px;
}

#header-title h1 {
  font-size: 4rem;
}

#main-content-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  width: 80%;
}

#contact-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 800px;
}

#header-title>#error-text {
  text-align: center;
  font-size: .8rem;
  color: red;
}

fieldset {
  width: 100%;
  border: 0;
  text-align: center;
  padding: 20px 0;
}

.radio-container {
  width: 20px;
  height: 20px;
  background-color: white;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  vertical-align: text-bottom;
  cursor: pointer;
}

.checkmark {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: rgb(223, 223, 223);
}

.checkmark:has(+ input:checked) {
  background-color: black;
}

.radio-container>input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-container:hover .checkmark {
  background-color: black;
}

.checkmark:has(+ input:focus-visible) {
  background-color: black;
}

#website-input {
  position: absolute;
  left: -10000px;
}

details {
  display: block;
  width: 100%;

  min-height: 40px;
}

details,
summary {
  font-size: .8rem;
}

details>summary {
  list-style: none;
  cursor: pointer;
}

#contact-success-section {
  margin-top: 50px;
  gap: 25px;
}

input[type="text"],
input[type="email"],
textarea {
  height: 50px;
  width: 100%;
  margin: 20px 0;
  transition: 0.4s;
  color: black;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  background: rgb(252, 255, 218);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  padding-top: 12px;
  padding-bottom: 12px;
}

input[type="submit"] {
  width: 150px;
  margin: auto;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--primary-font-color);
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.6s;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--heading-font);
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  cursor: pointer;
}



.contact-success-button {
  width: 250px !important;
}


@media (min-width:768px) {
  #main-content-container {
    align-items: center;
  }
}

@media (min-width:1024px) {
  #header-title {
    flex-basis: 500px;
    text-align: left;
    margin-bottom: 150px;
    align-items: flex-start;
  }

  #header-title>h1 {
    font-size: 3rem;
  }

  #contact-form-section {
    flex-basis: 450px;
  }
}