/* =====================
   HEADER
===================== */
#gallery-top {
    padding-top: 100px;
    height: 80svh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#header-title {
    text-align: left;
    width: 90%;
}

#header-title h1 {
    font-size: 3.8rem;
}

/* =====================
   GALLERY
===================== */
#gallery-container{
    column-count: 2;
    gap: 0;

}

#video-gallery-container {
    column-count: 1;
    gap:0;
}


#main-content-container header {
    padding: 20px;
}

#main-content-container header .button-class {
    display: inline-block;
    margin: 0 10px;
}

.image-container,
.video-container {
    position: relative;
    width: fit-content;
    overflow: hidden;
    min-height: 100px;
}


.gallery-image,
.video-thumb {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    position: relative;
}
.visibility-hidden{
    visibility: hidden;
}

.image-desc {
    position: absolute;
    translate: 0 0;
    transition: .5s;
    top: 100%;
    width: 100%;
    background: #F4F4F4;
    padding: 10px;
    color: black;
    font-size: .8rem;
}

.enlarge-image,
.enlarge-video {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    display: block;
    padding:5px;
}

/* --- Hover states --- */
.image-container:focus-visible .gallery-image,
.image-container:hover .gallery-image {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    filter: brightness(1.2);
}
.video-container:focus-visible .image-desc,
.video-container:hover .image-desc,
.image-container:focus-visible .image-desc,
.image-container:hover .image-desc {
    translate: 0 -100%;
}

.enlarge-image:focus-visible {
    scale: 1.2;
}

.active-gallery-button {
    background-color: white;
    color: black;
}

.progress-bar {
    width: 50%;
    left: 50%;
    translate: -50% 0;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 10;
    top: 10px;
    border-radius:10px;
    transition: width 0.05s linear;
    pointer-events: none;
}

/* =====================
   LIGHTBOX
===================== */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

#lightbox>img,
#lightbox>video {
    max-width: 100%;
}

.gallery-lightbox-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* =====================
   MEDIA QUERIES
===================== */
@media (min-width: 768px) {

    #gallery-container,
    #video-gallery-container {
        column-count: 3;
        padding: 20px 20px 100px 20px;
    }

    #header-title h1 {
        font-size: 7rem;
    }
}