/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

/* =====================
   HEADER
===================== */
header {
    background-image: url("../images/large-moon.webp");
    background-color: var(--background-color);
    background-size: cover;
    height: 100vh;
    min-height: 560px;
    background-position: center;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 5%;
}

#header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 100px;
    width: 288px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#header-title>h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 0;
}

#header-title>h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0;
}

#header-title>h3 {
    line-height: 20px;
    font-size: .8rem;
}

#header-title p,
#panel-two p,
#panel-one p {
    text-align: left;
    font-size: 100%;
    width: 100%;
    margin-top: 10px;
}

/* =====================
   BASE LOCATION
===================== */
#base-location-container {
    width: 200px;
    position: absolute;
    height: 200px;
    bottom: 50%;
}

#base-one-location {
    position: absolute;
    top: 130px;
    left: 70px;
}

#base-two-location {
    position: absolute;
    right: 40px;
    top: 10px;
    text-align: right;
}

#base-one-location-circle,
#base-two-location-circle {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    border: 1px dashed white;
    -webkit-animation: rotateLocator 12s infinite linear;
    animation: rotateLocator 12s infinite linear;
    -webkit-transition: .8s;
    transition: .8s;
    cursor: pointer;
}

#base-one-location-circle:hover,
#base-two-location-circle:hover {
    scale: 1.5;
}

#base-one-location-circle:focus-visible,
#base-two-location-circle:focus-visible {
    scale: 1.5;
    background-color: rgb(255, 255, 219);
}

.base-details {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 8px;
    background: #0000007d;
    padding: 5px;
    border-radius: 2px;
    left: 50%;
    translate: -50% 0;
}

.base-details p {
    font-size: .6rem;
    line-height: .8rem;
}

@-webkit-keyframes rotateLocator {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes rotateLocator {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

/* =====================
   SCROLL ARROWS
===================== */
.scroll-arrow-button {
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 50;
    border-radius: 10px;
    padding: 0 5px;
}

.scroll-arrow-button:focus-visible {
    background-color: rgb(77, 77, 77);
}

.scroll-arrow {
    text-align: center;
    margin: auto;
    padding: 10px 0;
    -webkit-animation-name: slideArrow;
    animation-name: slideArrow;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    z-index: 70;
    width: 50px;
}

.scroll-arrow>img {
    width: 50px;
}

#footer-up-arrow.scroll-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    left: 0;
}

#footer-up-arrow:focus-visible {
    background-color: rgb(77, 77, 77);
}

#footer-up-arrow img {
    max-width: 50px;
}

@-webkit-keyframes slideArrow {
    0% {
        bottom: 5px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes slideArrow {
    0% {
        bottom: 5px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 0;
    }
}

#panel-one,
#panel-two,
#panel-three,
#panel-four {
    margin-top: 50px;

}

/* =====================
   PANEL ONE (KENNEDY)
===================== */
#panel-one {
    background-color: var(--background-color);
    height: 100svh;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#kennedy-video {
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
}

#kennedy-picture {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: url("../images/kennedy.webp");
    background-position: center;
    background-size: cover;
    -webkit-transition: .9s;
    transition: .9s;
}

#kennedy-reference-content {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 100px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), color-stop(76%, rgba(0, 0, 0, 0.46)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.46) 76%, rgba(0, 0, 0, 0) 100%);
    z-index: 4;
    -webkit-transition: 1s;
    transition: 1s;
}

#kennedy-reference-content h2 {
    font-size: 250%;
    line-height: 40px;
}

#kennedy-button {
    z-index: 4;
    -webkit-transition: 1.8s;
    transition: 1.8s;
}

#kennedy-video-button-container {
    z-index: 4;
    position: absolute;
    right: 15px;
    bottom: 15px;
    -webkit-transition: 1s;
    transition: 1s;
}

#video-controls {
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000000;
    border-radius: 10px 10px 0 0;
}

#video-playback-toggle-button {
    padding: 15px;
    font-size: 120%;
    border: 2px solid white;
    border-radius: 5px;
    background: #000000;
}

#video-playback-toggle-button:focus-visible {
    background-color: rgb(178, 178, 178);

}

#video-playback-toggle-button.pressed-control {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border: 1px solid white;
}

.video-control-class {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--heading-font);
    margin: 10px 0;
}

.video-control-class:focus-visible {
    background-color: #d0d0d0;
}

#video-controls.hidden {
    display: none;
}

#controls-feedback-overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.overlay-animation {
    -webkit-animation: video-overlay 1.2s;
    animation: video-overlay 1.2s;
}

#skip-text,
#volume-plus,
#volume-minus {
    font-family: var(--heading-font);
    font-size: 300%;
}

@-webkit-keyframes video-overlay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes video-overlay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* =====================
   PANEL TWO
===================== */
#panel-two {
    background-image: url("../images/moon-construction.webp");
    background-position: center top;
    background-color: var(--background-color);
    background-size: cover;
    height: 100svh;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    overflow: hidden;
}

#panel-two h2 {
    font-size: 250%;
    line-height: 40px;
}

#panel-two-content {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 100px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), color-stop(76%, rgba(0, 0, 0, 0.46)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.46) 76%, rgba(0, 0, 0, 0) 100%);
}

/* =====================
   PANEL THREE
===================== */
#panel-three {
    background-color: var(--background-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

#panel-three .base-info {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 50svh;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#panel-three img {
    max-width: 100%;
}

#panel-three h3 {
    font-size: 300%;
}

#panel-three article {
    padding: 20px;
}

#athena-base-text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    padding-top: 90px;
}

#athena-base-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background: url("../images/athena-base.webp") #000000;
    background-size: cover;
    background-position: center;
    position: relative;
}

#athena-crucible-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-top: 90px;
}

#athena-crucible-image {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    background: url("../images/mining-site.webp") #000000;
    background-size: cover;
    background-position: center;
    position: relative;

}

.info-panel {
    background-color: white;
    color: black;
    padding: 10px;
    height: 100%;
    width: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
    font-size: .8rem;
}

.info-panel>p {
    color: black;
}

#athena-base-image .info-panel {
    right: -50%;
    text-align: left;
}

#athena-base-image:focus-visible .info-panel,
#athena-base-image:hover .info-panel {
    right: 0;
}

#athena-crucible-image .info-panel {
    left: -50%;
    text-align: right;
}

#athena-crucible-image:focus-visible .info-panel,
#athena-crucible-image:hover .info-panel {
    left: 0;
}

.phase-text {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 80%;
    font-weight: 100;
}

/* =====================
   PANEL FOUR
===================== */
#panel-four {
    background-image: url("../images/earth-sliver.webp");
    background-color: var(--background-color);
    background-size: cover;
    min-height: 88svh;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position-x: center;
    background-position-y: 100px;
}

#panel-four-content {
    margin-top: 100px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 90%;
}

#panel-four-content>h2 {
    margin-bottom: 20px;
}

#panel-four-content>p {
    margin-top: 50px;
    text-align: center;
}

/* =====================
   UTILITY CLASSES
===================== */
.hidden-element {
    display: none;
}

.visible-element {
    display: block;
}

.slide-out-x {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

.slide-in-x {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.slide-out-y {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
}

.slide-in-y {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}



/* =====================
   MEDIA QUERIES
===================== */
@media (min-width: 768px) {
    #header-title>h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    #header-title>h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    #panel-four-content {
        margin-top: 0;
        max-width: 60%;
    }

    #panel-four-content>p {
        margin-top: 50px;
        text-align: center;
    }

    #panel-four {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #panel-three .base-info {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    #athena-base-text {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        padding-top: 0;
    }

    #athena-base-image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    #athena-crucible-text {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        padding-top: 0;
    }

    #athena-crucible-image {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    #arrow-five {
        display: none;

    }
}

@media (min-width: 1440px) {
    #panel-four {
        background-position-y: -100px;
    }
}