/* =====================
   RESET
===================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #F4F4F4;
}

/* =====================
   BODY
===================== */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", "Verdana", sans-serif;
}

/* =====================
   TYPOGRAPHY
===================== */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Aldrich", "Verdana", sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    line-height: 2.2rem;
}

p {
    font-family: "Montserrat", "Verdana", sans-serif;
    line-height: 1.5rem;
    font-weight: 300;
    margin: 0;
}

a {
    color: #F4F4F4;
}

blockquote {
    font-family: "Work Sans", "Verdana", sans-serif;
    font-size: 1rem;
}

blockquote > footer {
    background: none;
    text-align: right;
}

/* =====================
   LAYOUT
===================== */
main {
    flex: 1;
    max-width: 1440px;
    margin: auto;
    width:100%;
}
header{
    width:100%;
    max-width:1440px;
}

/* =====================
   FORMS
===================== */
input[type="text"],
input[type="email"],
textarea {
    border-radius: 8px;
    padding: 10px;
}

/* =====================
   UTILITY
===================== */
.hidden {
    display: none;
}

/* =====================
   NAVIGATION
===================== */
nav {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    width: 100vw;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: "Aldrich", "Verdana", sans-serif;
    text-transform: uppercase;
    z-index: 80;
}

nav > a {
    text-decoration: none;
}

#navigation {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: none;
}

#navigation.nav-open {
    display: block;
}

#navigation > ul {
    list-style: none;
    margin-bottom: 0;
}

#navigation a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    font-family: "Aldrich", "Verdana", sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}

nav li {
    text-align: left;
    padding: 10px 5px;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

#mobile-nav-toggle {
    font-size: 200%;
}

a.active-link::before {
    content: "> ";
}
nav h3{
    font-size: .6rem;
    letter-spacing: 9px;
    text-align: center;
    margin-top: -6px;
}
/* =====================
   BUTTONS
===================== */
.button-class {
    display: block;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Aldrich", "Verdana", sans-serif;
    margin: 20px;
    transition: 0.6s;
}

.button-class:visited {
    color: #F4F4F4;
}

.button-class:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

/* =====================
   FOOTER
===================== */
footer {
    width: 100%;
    max-width: 1440px;
    background-color: black;
    padding: 10px 0;
    font-family: "Aldrich", "Verdana", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(152, 152, 152);
    z-index: 2;
}

footer a {
    text-decoration: none;
    color: rgb(152, 152, 152);
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0 0.5vw;
}

#footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

#footer-content > div {
    width: 100%;
    font-size: 80%;
}

#footer-links > ul {
    padding: 0;
}

#social-links-holder {
    text-align: center;
    padding-left: 10px;
}

#instagram-logo,
#x-logo {
    vertical-align: middle;
    margin: 0 5px;
}

#copyright-holder {
    text-align: center;
    padding-right: 10px;
}
footer p{
    color:rgb(152, 152, 152);
    font-family: "Aldrich", "Verdana", sans-serif;

}

/* =====================
   MEDIA QUERIES
===================== */
@media only screen and (min-width: 768px) {
    #footer-content {
        gap: 20px;
    }

    #footer-content > div {
        width: 30%;
    }

    #social-links-holder {
        text-align: left;
    }

    #copyright-holder {
        text-align: right;
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        align-items: end;
        justify-content: space-between;
        padding: 0 20px;
    }
    #nav-logo{
        margin:10px 0;
    }
    #navigation {
        width: unset;
        position: static;
        top: unset;
        left: unset;
        background: unset;
        display: block;
    }

    #navigation > ul {
        list-style: none;
    }

    #navigation a {
        display: block;
    }

    nav li {
        display: inline-block;
        text-align: left;
        border-bottom: unset;
        padding: 0 5px;
    }

    nav li:hover {
        background-color: rgba(255, 255, 255, 1);
        color: black;
    }

    #mobile-nav-toggle {
        display: none;
    }

    a.active-link {
        text-decoration: none !important;
        border-bottom: 1px solid white;
    }

    a.active-link::before {
        content: "";
    }
}